* {
  margin: 0;
  padding: 0;
}

body {
  background-color: burlywood;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-container {
  border: 3px solid black;
  width: 50%;
}

article {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.text-con {
  display: flex;
  align-items: center;
}

h4,
h5 {
  font-size: 1.6em;
}

p {
  margin: 0 8px;
}

.remove-btn {
  font-size: 1em;
  font-weight: bold;
}

.line {
  border: 2px solid black;
  width: 30%;
  margin: 20px 0;
  background-color: black;
}

#add-btn {
  float: right;
  font-size: 1em;
  width: 60px;
  height: 30px;
}

.new-book,
.main-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#title,
#author {
  height: 25px;
  font-size: 20px;
  padding: 10px;
}

nav,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px solid black;
  height: 40px;
  margin-bottom: 50px;
}

footer {
  margin-top: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav ul a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

nav li {
  padding: 5px 10px;
  margin: 0 5px;
  border-right: 4px solid black;
}

.logo {
  margin-left: 15px;
  font-size: 1.5em;
  font-weight: bold;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
